.button%base {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
}
.btn-default {
  @extend %base;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-success {
  @extend %base;
  color: #fff;
  background-color: #b5c077;
  border-color: #b5c077;
}
.btn-danger {
  @extend %base;
  color: #fff;
  background-color: #dd7933;
  border-color: #dd7933;
}